.mainPage {
  display: flex;
  justify-content: center;
  height: 100vh;
  /* padding-top: 40px; */
}

.mainPageInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14vh;
  height: 45vh;
  width: 60vh;
  color: white;
}

.mainHeading {
  margin: 0;
  display: flex;
  text-align: center;
  font-size: 60px;
}
.mainPageBtn {
  display: flex;
  border: 1px solid white;
  margin-top: 15vh;
  height: 5vh;
  width: 12vw;
  background-color: Transparent;
  color: white;
  font-size: 25px;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.mainPageBtn:before {
  content: "";
}

.mainPageBtn:hover {
  color: rgba(230, 126, 34, 1);
  /* box-shadow: 0 3px 20px 2.5px rgba(211, 84, 0, 1); */
  border: 1px solid rgba(230, 126, 34, 1);
}

.line {
  border: 2px solid white;
  width: 460px;
}
/* ----------------Media queries----- */
@media only screen and (max-width: 400px) {
  .mainPageInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 18vh;
    height: 45vh;
    width: 60vh;
    color: white;
  }
  .mainHeading {
    margin: 0;
    display: flex;
    text-align: center;
    font-size: 25px;
  }
  .line {
    border: 2px solid white;
    width: 210px;
  }
  .mainPageBtn {
    display: flex;
    align-items: center;
    border: 1px solid white;
    margin-top: 20vh;
    height: 5vh;
    width: 42vw;
    background-color: Transparent;
    color: white;
    font-size: 25px;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }
}
