.events {
  position: absolute;
  z-index: 3000;
  top: 15vh;
  width: 25vw;
  /* height: 84.7vh; */

  height: 82vh;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: auto;
}

.test555 {
  border-top: 0.5px solid grey;
  border-right: 0.5px solid grey;
  border-left: 0.5px solid grey;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.test555:last-child {
  border-bottom: 1px solid grey;
}

.test555:hover {
  box-shadow: 0 0.35px 8px 0.5px rgba(230, 126, 34, 1);
  cursor: pointer;
}
.eventBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 2.5vh;
  text-align: center;
  background-color: rgba(230, 126, 34, 1);
  outline: none;
  font-size: 15px;
}
