.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 3vh;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2000;
}
.footerItems {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
