.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid red;
  height: 3vh;
  padding: 0 12vw;
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 300;
}
