.eventDetails {
  z-index: 7000;
  position: absolute;
  top: 10vh;
  left: 25vw;
  width: 75vw;
  height: 87vh;
  background-color: rgba(255, 255, 255, 1);
}
.header {
  display: flex;
  justify-content: center;
  margin-top: -2vh;
  height: 10vh;
  background-color: rgba(230, 126, 34, 1);
  border-radius: 0 0 20px 20px;
  font-size: 20px;
  color: white;
}
