.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
  align-items: center;
  background-color: rgba(236, 240, 241, 0);
  position: fixed;
  width: 100%;
  z-index: 300;
}
.navbar .navbarItems {
  font-size: 32px;
  padding-right: 2vw;
}
.navbarItems {
  color: rgba(230, 126, 34, 1);
  text-decoration: none;
  font-size: 20px;
}
.navbarItems:hover {
  color: white;
  /* border-bottom: 1px solid rgba(230, 126, 34, 1); */
  transition: 0.2s;
}
.login-register {
  display: flex;
  justify-content: space-around;
  width: 25vw;
  font-size: 20px;
  padding: 0 2.5vw;
}
/* -----------Media Query----------- */
@media only screen and (max-width: 400px) {
  .navbarItems {
    color: rgba(230, 126, 34, 1);
    text-decoration: none;
    font-size: 10px;
  }
  .navbar .navbarItems {
    font-size: 24px;
    padding-right: 4vw;
  }
  .login-register {
    display: flex;
    justify-content: space-around;
    width: 17vw;
    font-size: 20px;
    padding: 0 14vw;
  }
}
