.navbar {
  /* box-shadow: 0 1.3px 10px 2.5px grey; */
  height: 7vh;
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
  align-items: flex-end;
  background-color: rgba(236, 240, 241, 0);
  position: fixed;
  width: 100%;
  z-index: 300;
}
.navbar .navbarItems {
  font-size: 28px;
  padding-right: 15px;
}
.navbarItems {
  color: rgba(230, 126, 34, 1);
  text-decoration: none;
  font-size: 20px;
}
.navbarItems:hover {
  color: white;
  /* border-bottom: 1px solid rgba(230, 126, 34, 1); */
  transition: 0.2s;
}
.login-register {
  display: flex;
  justify-content: space-around;
  width: 17vw;
  font-size: 40px;
}
